span#vms, span#vkmh {
  font-weight: bold;
  color: red;
}

h1 {
  color: blue;
}

p {
  font-size: 110%;
}

input {
  text-align: center;
  width: 5pc;
  font-size: 100%;
}

.btn {
  width: auto;
  font-size: 100%;
  color: yellow;
  background-color: black;
}
